# sudo systemctl daemon-reload
# sudo systemctl enable web_stream
# sudo systemctl start web_stream
# sudo journalctl -u web_stream -f

[Unit]
Description=USB Camera Web Streaming Service (OpenCV MJPEG)
After=network-online.target sshd.service

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/Aquaponics/.venv/bin/python /home/pi/Aquaponics/web_stream.py
WorkingDirectory=/home/pi/Aquaponics
Restart=on-failure

[Install]
WantedBy=multi-user.target
